.start-page {
    background: linear-gradient(
            to right bottom,
            var(--color-white) 0%,
            var(--color-white) 50%,
            var(--color-orange-5) 50%,
            var(--color-orange-5) 100%
    );
    display: flex;
    min-height: 100%;

    &__content {
        height: 100%;
    }

    @media screen and (min-width: 1440px) {
        align-items: center;
    }
}