:root {
  --color-option-fill: white;
  --color-option-stroke: var(--color-black-40);
}

.option {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;

  &__rect {
    height: 56px;

    &--desktop {
      height: 72px;
      display: none;
    }
  }

  &__content {
    color: var(--color-black-100);
    display: flex;
    font-size: var(--font-size-option);
    gap: 8px;
    left: 17px;
    padding-inline: 24px;
    position: absolute;
    right: 17px;
  }

  &__label {
    color: var(--color-orange-100);
    font-weight: 600;
  }

  &--selected {
    --color-option-fill: var(--color-orange-5);
    --color-option-stroke: var(--color-orange-100);


    &:before,
    &:after {
      background-color: var(--color-orange-100);
    }
  }

  &--correct {
    --color-option-fill: var(--color-green-5);
    --color-option-stroke: var(--color-green-100);
  }

  &--wrong {
    --color-option-fill: var(--color-red-5);
    --color-option-stroke: var(--color-red-100);
  }

  &:before,
  &:after {
    background-color: var(--color-black-40);
    content: '';
    flex: 1;
    height: 1px;
    width: 17px;
  }

  @media screen and (min-width: 1440px) {
    &__rect {
      display: none;

      &--desktop {
        display: block;
      }
    }

    &__content {
      padding-inline: 32px;
    }

    &:not(.option--selected):hover {
      --color-option-fill: var(--color-white);
      --color-option-stroke: var(--color-orange-100);
    }
  }
}