.final-page {
  display: flex;
  min-height: 100%;

  &__content {
    height: 100%;
  }

  &__hero-content {
    display: grid;
    gap: 8px;
  }

  @media screen and (min-width: 1440px) {
    align-items: center;
  }
}