.sidebar {
  background-color: var(--color-black-5);

  &.active {
    bottom: 0;
    display: grid;
    height: 100%;
    left: 0;
    overflow-x: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  &.inactive {
    display: none;
  }

  &__header {
    padding: var(--container-gap);
    text-align: right;

    @media screen and (min-width: 1440px) {
      display: none;
    }
  }

  &__content {
    padding-block: 24px;
  }

  @media screen and (min-width: 1440px) {
    background: var(--color-white);
    width: 376px;

    &.active {
      position: static;
    }

    &.inactive {
      display: grid;
    }

    &__content {
      padding-block: 120px;
    }
  }
}