.game-page {
  background-color: var(--color-black-5);
  display: flex;
  min-height: 100%;

  &__wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__header {
    padding-block: var(--container-gap);
    text-align: right;
  }

  &__main {
    align-items: end;
    display: grid;
    flex: 1;
    justify-items: center;
    padding-block: 24px;
    text-align: center;
  }

  @media screen and (min-width: 1440px) {
    padding-block: 0;

    &__header {
      display: none;
    }

    &__main {
      padding-block: 120px;
    }

    &__wrapper {
      display: grid;
      grid-template-columns: 1fr 376px;
    }
  }
}
